/* Nav.css */
.menu a {
  position: relative;
  text-decoration: none; /* Remove the default underline */
}

.menu a.underline:after {
  content: "";
  display: block;
  position: absolute;
  bottom: 10px; /* Adjust the space as needed */
  left: 15%;
  width: 50%; /* Make the underline 60% of the text width */
  height: 2px;
  background-color: #5070d1;
  transform: scaleX(0);
  transition: transform 0.3s ease;
  transform-origin: left;
}

.menu a.underline:hover:after,
.menu a.underline-active:after {
  transform: scaleX(1);
}
